.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.container {
  max-width: 800px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 5px solid #000;
}

.textmenu {
  display: block;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 80;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.heading {
  margin-top: 0px;
  padding-top: 125px;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
}

.paragraph {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.fotoduo {
  margin-top: 20px;
}

.image {
  border: 5px solid #000;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 20px;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.videocontainer {
  margin-top: 20px;
  margin-bottom: 25px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 5px solid #000;
}

.link-2 {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.link-3 {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.schema {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-2 {
  width: 75%;
}

.hamb1 {
  display: none;
}

.grid {
  min-height: 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr minmax(100px, 100px);
  grid-template-columns: 1fr minmax(100px, 100px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-left: 5px solid #000;
}

.text-block-6 {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 3px solid #000;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #000;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.videodescription {
  padding: 15px 20px 5px;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
}

.grid-3 {
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 3px solid #000;
  text-decoration: none;
}

.text-block-8 {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 2px solid #000;
}

.videotop {
  cursor: pointer;
}

.videodown {
  overflow: hidden;
}

.navmenu {
  display: none;
}

.morevideos {
  display: none;
}

.link-block-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

.idnav {
  display: none;
}

.contacthead {
  margin-top: 180px;
  padding-top: 125px;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.div-block-26 {
  width: 30px;
  height: 18px;
}

.image-4 {
  width: 100%;
}

.hamb2 {
  display: none;
}

.gridvideos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  height: 100vh;
}

.gridpre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  height: 100vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.gridpost {
  display: none;
}

.grid-4 {
  grid-column-gap: 60px;
  grid-row-gap: 0px;
}

.image-5 {
  display: none;
}

.paragraphend {
  padding-bottom: 320px;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.link-block-4 {
  text-decoration: none;
}

.text-block-11 {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.div-block-27 {
  width: 100vw;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.schema2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footermobile {
  display: none;
  width: 100%;
  height: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 5px solid #000;
}

.navbarlimiter {
  width: 100%;
  max-width: 800px;
}

.div-block-29 {
  max-width: 370px;
}

.div-block-30 {
  max-width: 370px;
}

.linkitaeng {
  text-decoration: none;
}

.videocontainer4 {
  margin-top: 20px;
  margin-bottom: 25px;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.slide {
  background-image: url('../images/2.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/1b.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slider {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid #000;
}

.galleria {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 100%;
  border: 5px solid #000;
}

.slide-3 {
  background-image: url('../images/1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.background-video {
  width: 256px;
  height: 40px;
  margin-bottom: 15px;
}

.link-4 {
  color: rgb(235, 26, 26);
}

.link-5 {
  color: #000;
}

.textmenurullino {
  display: none;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.footer4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 5px solid #000;
}

.about {
  max-width: 370px;
}

.aboutheading {
  margin-top: 0px;
  padding-top: 125px;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
}

.link-6 {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-decoration: none;
}

.link-6.w--current {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 60px;
  text-decoration: none;
}

.fotoabout {
  margin-top: 20px;
}

.ivanrulyovabout {
  display: none;
  overflow: scroll;
  height: 100vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 370px;
  padding-top: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.aboutheading2 {
  margin-top: 0px;
  padding-top: 20px;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.edoardobellinoabout {
  display: none;
  overflow: scroll;
  height: 100vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.textmobile {
  display: none;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.paragraphinizio {
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.slide-4 {
  background-image: url('../images/DSC07920.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-5 {
  background-image: url('../images/3.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-6 {
  background-image: url('../images/2-2.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slider-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.slide-7 {
  background-image: url('../images/1b.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-8 {
  background-image: url('../images/1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-9 {
  background-image: url('../images/DSC07920.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-10 {
  background-image: url('../images/3.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.left-arrow-2 {
  display: none;
}

.right-arrow-2 {
  display: none;
}

.logoita {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }
  .wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .paragraph {
    display: block;
  }
  .fotoduo {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .footer {
    display: none;
  }
  .morevideos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .idnav {
    display: block;
  }
  .gridpost {
    display: block;
  }
  .grid-4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .gridpostfinto {
    display: none;
  }
  .footermobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .div-block-29 {
    max-width: 100%;
  }
  .div-block-30 {
    max-width: 100%;
  }
  .videocontainer4 {
    display: none;
  }
  .footer4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
  }
  .about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    max-width: 100%;
    padding-top: 102px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .aboutheading {
    padding-top: 20px;
  }
  .link-6 {
    text-decoration: none;
  }
  .aboutcontainer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .bold-text {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 50px;
    line-height: 60px;
    text-decoration: none;
  }
  .fotoabout {
    width: 100%;
    margin-top: 0px;
  }
  .div-block-31 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .textmobile {
    display: block;
  }
  .link-9 {
    color: #000;
  }
  .link-10 {
    color: #000;
  }
  .paragraphinizio {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 80px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 5px solid #000;
  }
  .textmenu {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  .navbar {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: 80;
    display: block;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
  }
  .heading {
    margin-top: 0px;
    padding-top: 125px;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 36px;
  }
  .paragraph {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
  }
  .fotoduo {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding-top: 100%;
  }
  .image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: 50;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
  }
  .div-block-3 {
    position: relative;
    width: 100%;
    padding-top: 0%;
  }
  .div-block-4 {
    position: absolute;
    width: 100%;
    padding-top: 100%;
  }
  .video {
    position: relative;
    width: 100%;
    padding-top: 56%;
  }
  .heading-2 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 10px 5px 20px;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 30px;
  }
  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-width: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
  }
  .div-block-6 {
    width: 100px;
    height: 50px;
    border-left: 5px solid #000;
  }
  .text-block-2 {
    height: 100%;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
  .text-block-3 {
    border-top: 5px solid #000;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
  .div-block-7 {
    width: 100px;
    height: 100%;
    background-color: #7e2727;
  }
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .text-block-4 {
    height: 50%;
  }
  .videocontainer {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .link {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 30px;
  }
  .footer {
    display: none;
    width: 100%;
    height: 80px;
    margin-top: 220px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 5px solid #000;
  }
  .link-2 {
    width: 50%;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-weight: 500;
    text-decoration: none;
  }
  .link-3 {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-weight: 500;
    text-align: right;
    text-decoration: none;
  }
  .schema {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-2 {
    width: 240px;
  }
  .text-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
  }
  .div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 100%;
    min-height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-left: 5px solid #000;
  }
  .div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-bottom: 5px solid #000;
  }
  .div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-14 {
    width: 100%;
    height: 10px;
    border-bottom: 3px solid #000;
  }
  .hamb1 {
    display: block;
    width: 40px;
  }
  .grid {
    min-height: 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr minmax(100px, 100px);
    grid-template-columns: 1fr minmax(100px, 100px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
  }
  .grid-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-left: 5px solid #000;
  }
  .text-block-6 {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
  .text-block-7 {
    text-align: center;
  }
  .div-block-16 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 3px solid #000;
  }
  .div-block-17 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #000;
  }
  .div-block-18 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
  }
  .videodescription {
    padding: 15px 20px 5px;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
  }
  .grid-3 {
    height: 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
  }
  .link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 3px solid #000;
    text-decoration: none;
  }
  .text-block-8 {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    font-weight: 700;
  }
  .text-block-9 {
    font-size: 22px;
  }
  .div-block-20 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 2px solid #000;
  }
  .videodown {
    overflow: hidden;
  }
  .div-block-21 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    text-decoration: none;
  }
  .div-block-22 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 2px solid #000;
    text-decoration: none;
  }
  .div-block-22-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 3px solid #000;
    text-decoration: none;
  }
  .navmenu {
    display: block;
    overflow: hidden;
  }
  .container-2 {
    padding-top: 82px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .linkwork {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    text-decoration: none;
  }
  .div-block-23 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 192px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .contactheading {
    margin-top: 0px;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 36px;
  }
  .linkcontact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    text-decoration: none;
  }
  .linkhome {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    text-decoration: none;
  }
  .morevideos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .image-3 {
    width: 100%;
    margin-top: 6px;
  }
  .div-block-25 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    margin-left: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-10 {
    padding-left: 10px;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
  }
  .text-span {
    text-decoration: none;
  }
  .text-span-2 {
    text-decoration: none;
  }
  .link-block-2 {
    text-decoration: none;
  }
  .link-block-3 {
    text-decoration: none;
  }
  .idnav {
    display: block;
    width: 100%;
    height: 1px;
  }
  .contacthead {
    margin-top: 125px;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 36px;
  }
  .div-block-26 {
    width: 30px;
    height: 18px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .image-4 {
    width: 100%;
  }
  .hamb2 {
    display: none;
    width: 40px;
  }
  .gridvideos {
    overflow: visible;
    height: auto;
  }
  .gridpre {
    overflow: hidden;
    height: auto;
  }
  .gridpost {
    display: block;
  }
  .grid-4 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .image-5 {
    display: block;
  }
  .gridpostfinto {
    display: none;
  }
  .paragraphend {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
  }
  .link-block-4 {
    display: none;
  }
  .div-block-27 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  .schema2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    margin-bottom: 300px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footermobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 220px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 5px solid #000;
  }
  .linkitaeng {
    display: none;
  }
  .videocontainer4 {
    display: none;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .textmenurullino {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  .footer4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 5px solid #000;
  }
  .about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 102px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .aboutheading {
    margin-top: 0px;
    padding-top: 20px;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 36px;
  }
  .link-6 {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    text-decoration: none;
  }
  .aboutcontainer {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .fotoabout {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }
  .link-7 {
    color: #000;
  }
  .link-8 {
    color: #000;
  }
  .div-block-31 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .aboutheading2 {
    margin-top: 0px;
    padding-top: 125px;
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 36px;
  }
  .edoardobellinoabout {
    display: none;
  }
  .textmobile {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
  }
  .paragraphinizio {
    font-family: Sofiapro, sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
  }
  .slide-6 {
    background-image: url('../images/2-2.jpg');
  }
  .logoita {
    text-decoration: none;
  }
}

#w-node-cc66b4d2e28f-65082d4d {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-cc66b4d2e28f-b9d1cb59 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@font-face {
  font-family: 'Sofiapro';
  src: url('../fonts/SofiaPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url('../fonts/SofiaPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}